<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Map</title>
	<style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
   
      }
      #sidebar {
		position:absolute; 
      	height:100%;
      	width:10%;
      	z-index: 4;
      }
    </style>
</head>
<body>
<div id="sidebar">
	asdasdas
</div>
<div id="map">
	
</div>


	
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/knockout/dist/knockout.js"></script>	
<script src="/js/googlemap.js"></script>
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtMwHi45G46oowhbaT-nREz0Gxp2ZZ7aE&callback=initMap">
</script>
</body>
	
</html>